.navigation-container {
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .header{ 
    color: white;
    margin-top: 1px;
    margin-left: 71px;
    font-size: 25px;
    font-weight: 400;
  }

  .button {
    display: flex;
    float: right;
  }
  
 