.form {
    display: flex;
    justify-content: center;
    width:85%;
}

.form Input {
    width: 16%;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    color: white;
    padding: 0.01rem 2rem;
    border-radius: 5px;
    
  }
  