.button{
  position: absolute;
  cursor: pointer;
  color: rgb(121, 117, 117);
  top: 0;
  right: 0;
  margin: 20px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(121, 117, 117);
  border-radius: 7px;
  padding: 5px;
   
}

.cart-text {
  margin: 1px 0px;
  padding: 0;
  text-align: center;
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 10px;
}

.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1px 0;
  }

.cart-total{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    margin: 20px;
    margin-right: 2px;

  }