.modal {
    position: fixed;
    top: 9vh;
    right: 0%;
    height: 100%;
    width: 30%;
    background-color: white;
    padding: 2rem;
    z-index: 30;
    border-bottom: 2px solid #8a2b06;
    border-width: 9px 9px 9px 0px;
    border-color: white;
    
  }

  