.container-grid{
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  gap: 1px; /* Gap between items */
  flex-wrap: wrap;
   
  }

  .grid-container li {
    background-color: #ddd;
   
  }
 